<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <title>procesarID</title>
    
    <h2><%= respuesta %></h2>
    <h3><%= FechaCreacion %></h3>
    <h3><%= ID_Operacion %></h3>
    <h3><%= Codigo_Autorizacion %></h3>
    <h3><%= Status_detalle %></h3>
    <h3><%= Monto %></h3>
    <h3><%= Cod_Comercios %></h3>
    <h3><%= Primeros6_Digitos %></h3>
    <h3><%= Ultimo4_Digitos %></h3>
</head>
<body>
    
</body>
</html>